@keyframes ani-main{ /* move left to right */
    0%{
        opacity: 0;
        transform: translate(-100px); /*move left*/
    }

    80%{

        transform: translate(10px);/*right*/

    }

    100%{
        opacity: 1;
        transform: translate(0);/*back to normal position*/
    }

}


@keyframes ani-sub{  /* move right to left */
    0%{
        opacity: 0;
        transform: translate(100px); /*move left*/
    }

    80%{

        transform: translate(-10px);/*right*/

    }

    100%{
        opacity: 1;
        transform: translate(0);/*back to normal position*/
    }

}

@keyframes ani-btn{  /* move right to left */
    0%{
        opacity: 0;
        transform: translateY(30px); /*move left*/
    }

    
    100%{
        opacity: 1;
        transform: translate(0);/*back to normal position*/
    }

}